/****************************************************************************/
/* COLORS */
/****************************************************************************/

$color-primary: #006DB1;
$color-secondary:#484848;
$color-secondary_light:#5F5F5F;
$color-secondary_lightest:#838383;
$color-tertiary:#FFA800;
$color-light:#F6F8F9;
$color-lightest:#FFFFFF;
$color-dark:#171717;
$color-success: #15b500;
$color-error: #DF3E3E;
$color-warning: #eb7805;
/****************************************************************************/
/* FONTS */
/****************************************************************************/

$font-primary: Roboto, sans-serif;
$font-secondary: Montserrat, sans-serif;

/****************************************************************************/
/* BREAKPOINTS */
/****************************************************************************/

$bp-xs: 320px;
$bp-sm: 640px;
$bp-md: 768px;
$bp-lg: 1024px;
$bp-xl: 1366px;
$bp-xxl: 1600px;

$grid-breakpoints: (
        xs: 0,
        sm: $bp-sm,
        md: $bp-md,
        lg: $bp-lg,
        xl: $bp-xl
);
$transition_speed: .2s;
$spacers: (
        0:0px,
        1:10px,
        2:20px,
        3:30px,
        4:40px,
        5:50px,
);
