
.c-title {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-transform: uppercase;
  color: $color-dark;
  display: inline-flex;
  align-items: center;

  &::after {
    content: '';
    display: block;
    width: 30px;
    height: 30px;
    margin-left: 18px;
    background-image: url(images/after-title.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}

@media (min-width: $bp-lg) {
  .c-title {
    font-size: 75px;

    &::after {
      width: 34px;
      height: 42px;
      margin-left: 42px;
    }
  }
}