footer.c-footer
    .container
        .c-footer__header
            .row.c-footer-nav-list
                .col-6.col-lg-auto.c-footer-nav-list__item
                    .c-menu-item.c-btn каталог услуг
                .col-6.col-lg-auto.c-footer-nav-list__item
                    .c-menu-item.c-btn каталог продукции
                .col-6.col-lg-auto.c-footer-nav-list__item
                    .c-menu-item.c-btn О компании
                .col-6.col-lg-auto.c-footer-nav-list__item
                    .c-menu-item.c-btn наши проекты
                .col-6.col-lg-auto.c-footer-nav-list__item
                    .c-menu-item.c-btn блог
                .col-6.col-lg-auto.c-footer-nav-list__item
                    .c-menu-item.c-btn Контакты
        .c-footer__body
        .c-footer__footer
