head
    meta(charset='UTF-8')
    meta(content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0' name='viewport')
    meta(content='ie=edge' http-equiv='X-UA-Compatible')
    link(href='css/magnific-popup.css' rel='stylesheet')
    link(rel='shortcut icon' href='/favicon.ico' type='image/x-icon')
    link(as='font' crossorigin='anonymous' href='fonts/Roboto-Regular.woff2' rel='preload' type='font/woff2')
    link(as='font' crossorigin='anonymous' href='fonts/Roboto-Medium.woff2' rel='preload' type='font/woff2')
    link(href='slick.css' rel='stylesheet')
    link(href='styles.css' rel='stylesheet')
    link(href='template_styles.css' rel='stylesheet')
