extends ../pug/layout
append content
    .c-section
        .container
            .c-section__header
                .c-title о компании
                | Предлагаем ваш широкий спектр услуг в сфере строительства, в том числе в условиях крайнего севера

    .c-section
        .container
            .c-section__header
                .c-title наши цели
                | Предлагаем ваш широкий спектр услуг в сфере строительства, в том числе в условиях крайнего севера

    .c-section
        .container
            .c-section__header
                .c-title наши офисы
                | Предлагаем ваш широкий спектр услуг в сфере строительства, в том числе в условиях крайнего севера
